{% extends 'base/base.html.twig' %}

{% block body %}
    <p>Vos informations</p>
    {% for label, messages in app.flashes  %}
        {% for message in messages  %}
            <p>{{ label }} : {{ message }}</p>
        {% endfor %}
    {% endfor %}
    {{ form(form) }}
{% endblock %}