<app-admin-base [component]="adminContent"></app-admin-base>
<ng-template #adminContent>
  <h4 class="uk-text-center">Bonjour {{ userLoggedIn.firstname }}, bienvenu(e) sur votre dashboard.</h4>
</ng-template>

