<app-login-base [component]="pwet"></app-login-base>
<ng-template #pwet>
  <h3 class="uk-card-title">Réinitialisation de votre mot de passe</h3>

  <div class="uk-alert-danger" uk-alert *ngIf="message">
    <p>{{ message.content }}</p>
  </div>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmitResetForm()">

      <div class="uk-margin">
        <div class="uk-inline uk-width-1">
          <span class="uk-form-icon" uk-icon="icon: lock"
                [ngClass]="{'uk-text-danger': resetPasswordFormIsSubmitted && resetPasswordForm.controls.firstPassword.invalid}"></span>
          <input class="uk-input" type="password" id="first-password" formControlName="firstPassword" placeholder="Votre nouveau mot de passe"
                 [ngClass]="{'uk-form-danger': resetPasswordFormIsSubmitted && resetPasswordForm.controls.firstPassword.invalid}">
        </div>

        <div class="uk-text-small uk-text-danger" *ngIf="resetPasswordFormIsSubmitted && resetPasswordForm.controls.firstPassword.hasError('required')">
          Veuillez saisir un mot de passe.
        </div>

        <div class="uk-text-small uk-text-danger" *ngIf="resetPasswordFormIsSubmitted && resetPasswordForm.controls.firstPassword.hasError('pattern')">
          Votre mot de passe doit contenir au moins 8 caractères, 1 majuscule, 1 minuscule et 1 chiffre.
        </div>

        <div class="uk-text-small uk-text-danger" *ngIf="resetPasswordFormIsSubmitted && resetPasswordForm.controls.firstPassword.hasError('mustMatch')">
          Les mots de passe ne correspondent pas.
        </div>

      </div>

      <div class="uk-margin">
        <div class="uk-inline uk-width-1">
          <span class="uk-form-icon" uk-icon="icon: lock"
                [ngClass]="{'uk-text-danger': resetPasswordFormIsSubmitted && resetPasswordForm.controls.secondPassword.invalid}"></span>
          <input class="uk-input" type="password" id="second-password" formControlName="secondPassword" placeholder="Répétez votre nouveau mot de passe"
                 [ngClass]="{'uk-form-danger': resetPasswordFormIsSubmitted && resetPasswordForm.controls.secondPassword.invalid}">
        </div>

        <div class="uk-text-small uk-text-danger" *ngIf="resetPasswordFormIsSubmitted && resetPasswordForm.controls.secondPassword.hasError('required')">
          Veuillez saisir un mot de passe.
        </div>

        <div class="uk-text-small uk-text-danger" *ngIf="resetPasswordFormIsSubmitted && resetPasswordForm.controls.secondPassword.hasError('mustMatch')">
          Les mots de passe ne correspondent pas.
        </div>

      </div>

      <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" type="submit">
        Réinitialiser
      </button>
  </form>
</ng-template>
