.uk-navbar-nav > li > a,
.uk-navbar-item, .uk-navbar-toggle {
  min-height: 60px;
  color: #cecece;
}

.uk-navbar-nav > li > a:hover {
  color: white;
}

.admin-icon-responsive {
  width: 20px !important;
}

#admin-nav-scroll-h {
  overflow-x: auto;
}

.admin-nav-scroll-h {
  overflow-x: scroll;
}

.admin-nav-divider {
  border-bottom: 2px solid #3b3b3b;
}

.admin-divider-nav-icon {
  border-left: 2px solid #3b3b3b;
}

.admin-navbar-title  {
  text-transform: uppercase;
  color: #cecece;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background-color: #42454b;
}
