<nav class="uk-navbar-container admin-nav-divider" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li>
        <span class="admin-navbar-title uk-margin-medium-left">Administration</span>
      </li>
    </ul>
  </div>

  <div class="uk-navbar-right" uk-navbar>
    <ul class="uk-navbar-nav">
      <li>
        <a class="uk-icon-link admin-divider-nav-icon" uk-icon="user" routerLink="/administration/user-settings"></a>
      </li>
      <li>
        <a class="uk-icon-link admin-divider-nav-icon" uk-icon="sign-out" (click)="onLogout()"></a>
      </li>
    </ul>
  </div>
</nav>

<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-center" id="admin-nav-scroll-h">
    <ul class="uk-navbar-nav">
      <li>
        <a routerLink="/administration/dashboard">
          <span class="uk-margin-small-right admin-icon-responsive" uk-icon="thumbnails"></span>
          Dashboard
        </a>
      </li>
      <li>
        <a href="#">
          <span class="uk-margin-small-right admin-icon-responsive" uk-icon="image"></span>
          Galerie
        </a>
      </li>
      <li>
        <a href="#">
          <span class="uk-margin-small-right admin-icon-responsive" uk-icon="paint-bucket"></span>
          Peintures
        </a>
      </li>
      <li>
        <a href="#">
          <span class="uk-margin-small-right admin-icon-responsive" uk-icon="nut"></span>
          Scultures
        </a>
      </li>
      <li>
        <a href="#">
          <span class="uk-margin-small-right admin-icon-responsive" uk-icon="album"></span>
          Meubles
        </a>
      </li>
      <li>
        <a href="#">
          <span class="uk-margin-small-right admin-icon-responsive" uk-icon="play-circle"></span>
          Vidéos
        </a>
      </li>
    </ul>
  </div>
</nav>
