###> config files ###
.env.local
.env.test
###< config files ###

###> phpunit files ###
.phpunit
/phpunit.xml
###< phpunit ###

###> application files ###
/public/build
/var/
/vendor/
node_modules/
###< application files ###

