###> config files ###
.env.local
.env.test
###< config files ###
.idea/
.ftpconfig
###> phpunit files ###
.phpunit
/phpunit.xml
###< phpunit ###

###> application files ###
/public/*
!/public/.htaccess
!/public/index.php
/var/
/vendor/
node_modules/
###< application files ###


###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
