<app-login-base [component]="forgottenPassword"></app-login-base>
<ng-template #forgottenPassword>
  <h3 class="uk-card-title">Mot de passe oublié ?</h3>

  <p>Remplissez ce formulaire et nous vous enverrons par email les informations pour réinitialiser votre mot de passe.</p>

  <div class="uk-alert-danger" uk-alert *ngIf="message">
    <p>{{ message.content }}</p>
  </div>

  <form [formGroup]="forgottenPasswordForm" (ngSubmit)="onSubmitForgottenPasswordForm()" >
    <div class="uk-margin">
      <div class="uk-inline uk-width-1">
        <span class="uk-form-icon" uk-icon="icon: mail"
              [ngClass]="{'uk-text-danger': forgottenPasswordFormIsSubmitted && forgottenPasswordForm.controls.forgottenPasswordEmail.invalid}"></span>
        <input class="uk-input" type="email" id="forgotten-password-email" formControlName="forgottenPasswordEmail" placeholder="Adresse email de votre compte"
               [ngClass]="{'uk-form-danger': forgottenPasswordFormIsSubmitted && forgottenPasswordForm.controls.forgottenPasswordEmail.invalid}">
      </div>

      <div class="uk-text-small uk-text-danger" *ngIf="forgottenPasswordFormIsSubmitted &&
              forgottenPasswordForm.controls.forgottenPasswordEmail.hasError('required')">
        Veuillez saisir une adresse email.
      </div>
      <div class="uk-text-small uk-text-danger" *ngIf="forgottenPasswordFormIsSubmitted &&
              forgottenPasswordForm.controls.forgottenPasswordEmail.hasError('email')">
        L'adresse email saisie n'est pas valide.
      </div>
    </div>


    <button class="uk-button uk-button-primary uk-align-right uk-margin-small-left uk-margin-remove-bottom"
            type="submit">Envoyer</button>
    <button routerLink="/administration" class="uk-button uk-button-default uk-align-right uk-margin-remove-bottom" type="button">Retour</button>

  </form>
</ng-template>
