<div class="uk-flex uk-flex-center">

  <div class="central uk-flex uk-flex-center uk-width-1-4@xl uk-width-2-5@l uk-width-1-2@m uk-width-3-4@s uk-width-5-6">
    <div class="uk-card uk-card-default uk-width-1 uk-card-body central-card">
      <ng-container *ngTemplateOutlet="component"></ng-container>
    </div>
  </div>
</div>

<div id="particles"></div>
