{% extends 'base/base.html.twig' %}

{% block body %}
    <p>Homepage</p>

    {% include 'portfolio/news.html.twig' with { 'newsList': news, 'full': false, 'display': 2 } %}
    <p><a href="{{ path('news') }}">Voir toutes les news</a></p>
    <p><a href="{{ path('administration') }}">Administration</a></p>
    <about-section></about-section>
{% endblock %}
