.login {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.login-card {
  border-radius: 4px;
}

.uk-card-title {
  margin-bottom: 45px;
}

#login-password.uk-form-danger::placeholder, #login-email.uk-form-danger::placeholder {
  color: #f0506e;
}
