<app-login-base [component]="login"></app-login-base>
<ng-template #login>
  <h3 class="uk-card-title">Accès à l'administration</h3>

<!--  <div class="uk-alert-danger uk-margin-remove-top" uk-alert *ngIf="message">-->
<!--    <p>{{ message.content }}</p>-->
<!--  </div>-->

  <app-messages></app-messages>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">

    <div class="uk-margin">
      <div class="uk-inline uk-width-1">
        <span class="uk-form-icon" uk-icon="icon: mail"
              [ngClass]="{'uk-text-danger': loginFormIsSubmitted && loginForm.controls.email.invalid}"></span>
        <input class="uk-input" type="email" id="login-email" formControlName="email" placeholder="Adresse email"
               [ngClass]="{'uk-form-danger': loginFormIsSubmitted && loginForm.controls.email.invalid}">
      </div>

      <div class="uk-text-small uk-text-danger" *ngIf="loginFormIsSubmitted && loginForm.controls.email.hasError('required')">
        Veuillez saisir une adresse email.
      </div>
      <div class="uk-text-small uk-text-danger" *ngIf="loginFormIsSubmitted && loginForm.controls.email.hasError('email')">
        L'adresse email saisie n'est pas valide.
      </div>
    </div>

      <div class="uk-margin">
        <div class="uk-inline uk-width-1">
          <span class="uk-form-icon" uk-icon="icon: lock"
                [ngClass]="{'uk-text-danger': loginFormIsSubmitted && loginForm.controls.password.invalid}"></span>
          <input class="uk-input" type="password" id="login-password" formControlName="password" placeholder="Mot de passe"
                 [ngClass]="{'uk-form-danger': loginFormIsSubmitted && loginForm.controls.password.invalid}">
        </div>

        <div class="uk-text-small uk-text-danger" *ngIf="loginFormIsSubmitted && loginForm.controls.password.hasError('required')">
          Veuillez saisir un mot de passe.
        </div>
      </div>

      <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
        <label>
          <input class="uk-checkbox" type="checkbox" formControlName="loginRememberMe"> Rester connecté (7 jours)
        </label>
      </div>

      <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" type="submit">
        Connexion
      </button>
  </form>

  <a routerLink="/password/forgotten" class="uk-align-right uk-margin-remove-bottom">Mot de passe perdu ?</a>
</ng-template>
