<app-admin-base [component]="adminContent"></app-admin-base>
<ng-template #adminContent>
  <div class="uk-container-large uk-margin-auto padding-right-30" uk-grid>
    <div class="uk-width-1-1">
      <h1 class="uk-heading-bullet uk-margin-small-top uk-margin-medium-bottom">Vos paramètres</h1>
    </div>

    <div class="uk-width-2-3@xl uk-width-2-3@l uk-width-2-3@m uk-width-1-1@s uk-margin-remove-top uk-padding-remove-top ">
      <h4>Modifier vos informations</h4>
      <div class="uk-card uk-card-default uk-card-body">

        <form [formGroup]="userInfosForm" (ngSubmit)="onSubmitUserInfosForm()" uk-grid>
          <div class="uk-form-stacked uk-grid-small" uk-grid>

            <!-- lastname -->
            <div class="uk-width-1-2@xl uk-width-1-2@l uk-width-1-2@m uk-width-1-1@s">
              <label class="uk-form-label" for="lastname"
                     [ngClass]="{'uk-text-danger': userInfosFormIsSubmitted && userInfosForm.controls.lastname.invalid}">
                Nom
              </label>
              <div class="uk-form-controls">
                <input formControlName="lastname" class="uk-input" id="lastname" type="text"
                       [ngClass]="{'uk-form-danger': userInfosFormIsSubmitted && userInfosForm.controls.lastname.invalid}">
              </div>

              <div class="uk-text-small uk-text-danger" *ngIf="userInfosFormIsSubmitted && userInfosForm.controls.lastname.hasError('required')">
                Veuillez saisir un nom.
              </div>
            </div>

            <!-- firstname -->
            <div class="uk-width-1-2@xl uk-width-1-2@l uk-width-1-2@m uk-width-1-1@s">
              <label class="uk-form-label" for="firstname"
                     [ngClass]="{'uk-text-danger': userInfosFormIsSubmitted && userInfosForm.controls.firstname.invalid}">
                Prénom
              </label>
              <div class="uk-form-controls">
                <input formControlName="firstname" class="uk-input" id="firstname" type="text"
                       [ngClass]="{'uk-form-danger': userInfosFormIsSubmitted && userInfosForm.controls.firstname.invalid}">
              </div>

              <div class="uk-text-small uk-text-danger" *ngIf="userInfosFormIsSubmitted && userInfosForm.controls.firstname.hasError('required')">
                Veuillez saisir un prénom.
              </div>
            </div>

            <!-- email -->
            <div class="uk-width-2-3@xl uk-width-2-3@l uk-width-1-2@m uk-width-1-1@s">
              <label class="uk-form-label" for="email"
                     [ngClass]="{'uk-text-danger': userInfosFormIsSubmitted && userInfosForm.controls.email.invalid}">
                Email
              </label>
              <div class="uk-form-controls">
                <input formControlName="email" class="uk-input" id="email" type="email"
                       [ngClass]="{'uk-form-danger': userInfosFormIsSubmitted && userInfosForm.controls.email.invalid}">
              </div>

              <div class="uk-text-small uk-text-danger" *ngIf="userInfosFormIsSubmitted && userInfosForm.controls.email.hasError('required')">
                Veuillez saisir une adresse email.
              </div>
              <div class="uk-text-small uk-text-danger" *ngIf="userInfosFormIsSubmitted && userInfosForm.controls.email.hasError('email')">
                L'adresse email saisie n'est pas valide.
              </div>
            </div>

            <!-- phone -->
            <div class="uk-width-1-3@xl uk-width-1-3@l uk-width-1-2@m uk-width-1-1@s">
              <label class="uk-form-label" for="phone"
                     [ngClass]="{'uk-text-danger': userInfosFormIsSubmitted && userInfosForm.controls.phone.invalid}">
                Téléphone
              </label>
              <div class="uk-form-controls">
                <input formControlName="phone" class="uk-input" id="phone" type="text"
                       [ngClass]="{'uk-form-danger': userInfosFormIsSubmitted && userInfosForm.controls.phone.invalid}">
              </div>

              <div class="uk-text-small uk-text-danger" *ngIf="userInfosFormIsSubmitted && userInfosForm.controls.phone.hasError('required')">
                Veuillez saisir un numéro de téléphone.
              </div>
              <div class="uk-text-small uk-text-danger" *ngIf="userInfosFormIsSubmitted && userInfosForm.controls.phone.hasError('pattern')">
                Le numéro de téléphone n'est pas valide.
              </div>
            </div>

            <!-- submit -->
            <div class="uk-width-1-1">
              <button class="uk-button uk-width-1-5@xl uk-width-1-5@l uk-width-1-4@m uk-width-1-1@s uk-button-primary uk-margin-small-top uk-align-right"
                      type="submit">Modifier</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="uk-width-1-3@xl uk-width-1-3@l uk-width-1-3@m uk-width-1-1@s uk-width-1-1@xs uk-margin-remove-top">
      <h4>Modifier votre mot de passe</h4>
      <div class="uk-card uk-card-default uk-card-body">

        <app-messages></app-messages>

        <form [formGroup]="userNewPasswordForm" (ngSubmit)="onSubmitUserNewPasswordForm()" uk-grid>
          <div class="uk-form-stacked uk-grid-small" uk-grid>

            <div class="uk-width-1-1">
              <label class="uk-form-label" for="old-password">Ancien mot de passe</label>
              <div class="uk-form-controls">
                <input formControlName="oldPassword" class="uk-input" id="old-password" type="password">
              </div>

              <div class="uk-text-small uk-text-danger"
                   *ngIf="userPasswordFormIsSubmitted && userNewPasswordForm.controls.oldPassword.hasError('required')
                   && userNewPasswordForm.controls.oldPassword.touched">
                Veuillez saisir votre ancien mot de passe.
              </div>
            </div>

            <div class="uk-width-1-1">
              <label class="uk-form-label" for="new-password">Nouveau mot de passe</label>
              <div class="uk-form-controls">
                <input formControlName="newPassword" class="uk-input" id="new-password" type="password">
              </div>

              <div class="uk-text-small uk-text-danger"
                   *ngIf="userPasswordFormIsSubmitted && userNewPasswordForm.controls.newPassword.hasError('required')
                    && userNewPasswordForm.controls.newPassword.touched">
                Veuillez saisir nouveau mot de passe.
              </div>
              <div class="uk-text-small uk-text-danger"
                   *ngIf="userPasswordFormIsSubmitted && userNewPasswordForm.controls.newPassword.hasError('pattern')
                   && userNewPasswordForm.controls.newPassword.touched">
                Votre nouveau mot de passe doit contenir au moins 8 caractères, 1 majuscule, 1 minuscule et 1 chiffre.
              </div>
            </div>

            <div class="uk-width-1-1">
              <label class="uk-form-label" for="confirm-new-password">Confirmer votre nouveau mot de passe</label>
              <div class="uk-form-controls">
                <input formControlName="confirmNewPassword" class="uk-input" id="confirm-new-password" type="password">
              </div>

              <div class="uk-text-small uk-text-danger"
                   *ngIf="userPasswordFormIsSubmitted && userNewPasswordForm.controls.confirmNewPassword.hasError('required')
                   && userNewPasswordForm.controls.confirmNewPassword.touched">
                Veuillez saisir nouveau mot de passe.
              </div>

              <div class="uk-text-small uk-text-danger"
                   *ngIf="userPasswordFormIsSubmitted && userNewPasswordForm.controls.confirmNewPassword.hasError('mustMatch')
                   && userNewPasswordForm.controls.confirmNewPassword.touched">
                Les mots de passe ne correspondent pas.
              </div>

            </div>

            <div class="uk-width-1-1">
              <button class="uk-button uk-width-1-2@xl uk-width-1-2@l uk-width-1-2@m uk-width-1-1@s uk-button-primary uk-margin-small-top uk-align-right"
                      type="submit">Modifier</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="uk-width-1-1@xl uk-width-1-1@l uk-width-1-1@m uk-width-1-1@s uk-width-1-1@xs">
      <h4>Modifier la section "A propos"</h4>

      <div class="uk-card uk-card-default uk-card-body uk-margin-medium-bottom">
        <form [formGroup]="userAboutForm" (ngSubmit)="onSubmitUserAboutForm()">
          <editor formControlName="about" [init]="tinyMCEConfig"></editor>
          <button class="uk-button uk-width-1-6@xl uk-width-1-6@l uk-width-1-6@m uk-width-1-1@s uk-button-primary uk-margin-remove-bottom margin-top-25 uk-align-right"
                  type="submit">Modifier</button>
        </form>
      </div>
    </div>
  </div>
</ng-template>
