<div class="uk-alert-danger uk-margin-remove-top" uk-alert *ngIf="errors && errors.length > 0">
  <p *ngFor="let message of errors; let i = index">{{ message.content }}</p>
</div>

<div class="uk-alert-success uk-margin-remove-top" uk-alert *ngIf="success && success.length > 0">
  <p *ngFor="let message of success; let i = index">{{ message.content }}</p>
</div>

<div class="uk-alert-primary uk-margin-remove-top" uk-alert *ngIf="infos && infos.length > 0">
  <p *ngFor="let message of infos; let i = index">{{ message.content }}</p>
</div>

<div class="uk-alert-warning uk-margin-remove-top" uk-alert *ngIf="warnings && warnings.length > 0">
  <p *ngFor="let message of warnings; let i = index">{{ message.content }}</p>
</div>
