$button-primary-background: #58af32;
$form-radio-checked-focus-background: #545454;
$form-radio-checked-background: #545454;

@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";
@import "~uikit/src/scss/uikit-theme.scss";

html, body, #app, #particles-js {
  width: 100%;
  height: 100%;
}

#particles-js {
  background: #3a85c5 no-repeat;
  background-size: cover;
  animation: color_change 15s infinite alternate;
}

@-webkit-keyframes color_change {
  from { background-color: #3a85c5; }
  to { background-color: #000; }
}

#particles-js:before {
  background: #000000 ;
}
