<!doctype html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Réinitialisation de mot de votre mot de passe</title>
</head>
<body>
    <p>Une demande de réinitialisation de votre mot de passe sur le site www.fournieralice.com a été demandé</p>
    <p><i>Si vous n'avez pas effectué cette demande, vous pouvez tout simplement ignorer cet email.</i></p>

    <p>Pour réinitialiser votre mot de passe veuillez suivre ce lien (valable pendant 1h)</p>
    <a href="{{ url('administration') }}">{{ token }}</a>
</body>
</html>