html, body, #particles {
  width: 100%;
  height: 100%;
}

#particles {
  background: #3a85c5 no-repeat;
  background-size: cover;
  animation: color_change 15s infinite alternate;
}

@-webkit-keyframes color_change {
  from { background-color: #3a85c5; }
  to { background-color: #000; }
}

#particles:before {
  background: #000000 ;
}

.uk-notification-message-success {
  background: #edfbf6 !important;
  color: #32d296 !important;
}

.uk-notification-message-danger {
  background: #fef4f6 !important;
  color: #f0506e !important;
}

.uk-notification-message-danger,
.uk-notification-message-success {
  font-size: 16px !important;
  width: auto;
}

// Spacing

.margin-top-25 {
  margin-top: 25px !important;
}

.padding-right-5 {
  padding-right: 5px !important;
}

.padding-right-10 {
  padding-right: 10px !important;
}

.padding-right-15 {
  padding-right: 15px !important;
}

.padding-right-20 {
  padding-right: 20px !important;
}

.padding-right-25 {
  padding-right: 25px !important;
}

.padding-right-30 {
  padding-right: 30px!important;
}
