{% extends 'base/base.html.twig' %}

{% block body %}
    <h2>{{ news.title }}</h2>
    <p>{{ news.description }}</p>

    <a href="{{ path('news_edit', {'id': news.id }) }}">Editer</a>
{% endblock %}
