{% extends 'base/base.html.twig' %}

{% block body %}
    <h2>News</h2>
    {% for news in news_list  %}
    <div>
        <a href = "{{ path('news_single', {'id': news.id }) }}"><strong>Titre:</strong> {{ news.title }}</a>
        <p><strong>Description:</strong> {{ news.description }}</p>
    </div>
    <br>
    {% endfor %}

    <a href="{{ path('news_create') }}">Créer</a>

{% endblock %}
