{% extends 'base/base.html.twig' %}

{% block body %}
    <h2>News</h2>
    {% for news in news_list  %}
        <p><strong>Titre:</strong> {{ news.title }}</p>
        <p><strong>Description:</strong> {{ news.description }}</p>
        <br>
    {% endfor %}

{% endblock %}
